@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 12px;
    background-color: #00000066;
  }
  ::-webkit-scrollbar-thumb {
    background: #035522; 
    border-radius: 4px;  
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #04863a; 
  }
  body{
    scroll-behavior: smooth;

  }
  .active{
    background-color:#3d3d3d9d ;
    color:#22c55e;
  }
 